<!DOCTYPE html>
<html
  lang="en"
  x-data="{
    darkMode: localStorage.getItem('dark') ? localStorage.getItem('dark') === 'true' : window.matchMedia('(prefers-color-scheme: dark)').matches
  }"
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="{ 'dark': darkMode }">
<head>
  <meta charset="UTF-8"/>
  <title>{{ site.title + ": " + title if page.url === "/" else title + " - " + site.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="description" content="{{ description or site.description }}"/>
  <link rel="stylesheet" type="text/css" href="/styles.css?build={% now %}"/>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <meta property="og:type" content="{{ type or 'website' }}"/>
  <meta property="og:title" content="{{ site.title + ": " + title if page.url === "/" else title + " - " + site.title }}"/>
  <meta property="og:description" content="{{ description or site.description }}"/>
  <meta property="og:url" content="{{ site.url + page.url }}"/>
  <meta property="og:image" content="{{ site.url }}/cover@2x.png"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@pagescms"/>
  <meta name="twitter:url" content="{{ site.url + page.url }}"/>
  <meta name="twitter:title" content="{{ site.title + ": " + title if page.url === "/" else title + " - " + site.title }}"/>
  <meta name="twitter:description" content="{{ description or site.description }}"/>
  <meta name="twitter:image" content="{{ site.url }}/cover@2x.png"/>
  <script src="/js/alpine.js" defer></script>
  {# <script src="/js/htmx.js"></script> #}
</head>
<body>
  {% include "partials/header.njk" %}
  {{ content | safe }}
  {% include "partials/footer.njk" %}
  {% include "partials/analytics.njk" %}
</body>
</html>