---
layout: layouts/base.njk
title: The No-Hassle CMS for Static Sites
description: Updating content on your Next.js, Astro, Nuxt, or Hugo website can be a headache for you and your team. Ditch the Git and YAML nonsense, get a modern CMS that's easy to use for anybody.
features:
  title: Packed with features...
  entries: 
  - title: Configurable
    description: Customize content types, views, search, and more.
    icon: settings
  - title: Visual editor
    description: Rich-text, syntax highlighting, and more.
    icon: pencil
  - title: Media manager
    description: Drag and drop upload, multi-file selection, and more.
    icon: folder-tree
  - title: Search
    description: Fast, full-text and faceted search across your content.
    icon: search
  - title: Github
    description: Manage any website or app hosted on GitHub directly.
    icon: github
  - title: Gitlab & Bitbucket
    description: Manage sites and apps hosted on GitLab or Bitbucket.
    icon: git-branch
    soon: true
  - title: Email invites
    description: Invite users via email, no other account needed.
    icon: mail-open
    pro: true
  - title: File storage
    description: Connect with AWS S3, Cloudflare R2, and more.
    icon: cloud
    pro: true
  - title: Scheduling
    description: Easily schedule one-off or recurring content updates.
    icon: calendar-clock
    pro: true
  - title: Permissions
    description: Granular access control for different content types.
    icon: sliders
    pro: true
  - title: Analytics
    description: Integrate with GA, Cloudflare Analytics, and more.
    icon: bar-chart-4
    pro: true
  - title: Team collaboration
    description: Real-time content editing and inline commnents.
    icon: users
    pro: true
faq:
  title: Frequently asked questions
  entries:
  - question: Is Pages CMS free?
    answer: Yes, Pages CMS is 100% free, whether you want to use the online version or self-host it. It is a simple front-end app with very limited backend capabilities, which can run on [Cloudflare Pages](https://pages.cloudflare.com/) for free. The open-source version is MIT licensed; you can host it on your own Cloudflare account for free as well.
  - question: Do you only support GitHub?
    answer: "For now, yes. But I've already started looking into adding GitLab and Bitbucket. Pull requests and issues are welcome: [github.com/pages-cms/pages-cms](https://github.com/pages-cms/pages-cms)."
  - question: Do I have to host Pages CMS on Cloudflare Pages?
    answer: "Not necessarily: Pages CMS is a single-page app with a handful of serverless functions to facilitate the OAuth dance with GitHub. You could easily run it on Netlify, Vercel, AWS, Render... You would just need to make these 3 functions work on your platform of choice: [github.com/pages-cms/pages-cms/tree/main/functions/auth](https://github.com/pages-cms/pages-cms/tree/main/functions/auth). With that being said, Cloudflare has a generous free tier which works great in this case."
  - question: Why yet another CMS?
    answer: "I hear you, but I needed Pages CMS to exist. I love static site generators, and while YAML front matter and Markdown aren't terribly complicated, editing content and uploading images using GitHub.com or Git isn't really user-friendly, especially if you're updating the site with a whole team. For that reason, a lot of teams use a headless CMS like Contentful, Sanity, or Strapi. That works, but it's one more dependency and is overkill in most cases. You could also use something like Decap CMS (formerly Netlify CMS). Really cool project, but I've never been a fan of the user experience. And most importantly, I wanted something as simple as possible. Back in 2018, I had built a lightweight CMS ([Jekyll+](https://github.com/hunvreus/jekyllplus)) with the idea of getting the CMS set up with a single configuration file. Pages CMS is the next iteration of that idea."
  - question: What's the "Pro" plan?
    answer: "I haven't completely figured it out, but there are a few features I'm working on that I believe would only be relevant to larger teams or professional use. Things like real-time collaboration, advanced media management (e.g., image manipulation), or S3 integration. This not only requires a lot more work but also hosting costs. If you're interested, drop me a line: [hunvreus@gmail.com](mailto:hunvreus@gmail.com) ([@hunvreus](https://x.com/hunvreus))."
  - question: Who made this? It sucks!
    answer: "I did: [Ronan Berder](https://ronanberder.com) ([@hunvreus](https://x.com/hunvreus)). I'm a half-decent developer, but I sure could use some help to make this suck less: [github.com/pages-cms/pages-cms](https://github.com/pages-cms/pages-cms)."
---

<div class="px-8">
  <div class="max-w-xl mx-auto my-24 lg:my-28 text-center">
    <h1 class="font-semibold tracking-tight text-4xl lg:text-6xl lg:text-6xl mb-8">{{ title }}</h1>
    <p class="mb-12 text-xl">{{ description }}</p>
    <div class="flex max-md:flex-col md:gap-x-4 max-md:gap-y-4 justify-center">
      <a class="btn-primary btn-lg justify-center" href="https://app.pagescms.org">Sign in with GitHub</a>
      <a class="btn btn-lg justify-center" href="https://github.com/pages-cms/pages-cms" target="_blank">Get the source code</a>
    </div>
  </div>

  <div x-data="{ showModal: false }">
    <div class="rounded-2xl overflow-hidden max-w-6xl mx-auto block relative group bg-neutral-950 mb-12 cursor-pointer" @click="showModal = true; $refs.video.play();">
      <img class="w-full group-hover:opacity-90 transition-opacity block dark:hidden" src="/media/screenshots/collection-light@2x.png"/>
      <img class="w-full group-hover:opacity-90 transition-opacity hidden dark:block" src="/media/screenshots/collection-dark@2x.png"/>
      <div class="btn-primary absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 !rounded-full !px-4 lg:!px-5 group-hover:scale-105 duration-1000 !transition-transform">
        {% lucide "play-circle", { "class" : "h-4 w-4 shrink-0" } %}
        <span class="max-sm:hidden">Watch the intro</span>
        <span class="sm:hidden">Intro</span>
      </div>
    </div>

    <div class="modal-overlay" @click="showModal = false; $refs.video.pause();" x-bind:class="showModal ? 'modal-active' : ''">
      <div class="modal-wrapper">
        <div class="modal-box adjust-dark w-[calc(100vw-14rem)]" @click.stop>
          <header class="modal-header">
            <div class="modal-title">Watch the intro</div>
            <button @click="showModal = false; $refs.video.pause();" class="modal-close">{% lucide "X", { "class" : "h-4 w-4 stroke-2 shrink-0" } %}</button>
          </header>
          <div class="modal-body">
            <video x-ref="video" controls class="w-7xl">
              <source src="/media/intro-v1.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mb-24 mt-12 lg:mb-28 lg:mt-16">
    <h2 class="mb-8 text-neutral-400 dark:text-neutral-500">Works with all popular static site generators</h2>
    <div class="mx-auto overflow-hidden relative w-full max-w-[720px]">
      <div class="w-full flex infinite-scroll">
        <ul class="inline-flex h-10">
          <li class="mx-4 w-10 h-10">{% include "icons/jekyll.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/nuxtdotjs.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/nextdotjs.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/astro.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/eleventy.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/hugo.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/vuedotjs.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/gatsby.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/docusaurus.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/pelican.svg" %}</li>
        </ul>
        <ul class="inline-flex h-10">
          <li class="mx-4 w-10 h-10">{% include "icons/jekyll.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/nuxtdotjs.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/nextdotjs.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/astro.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/eleventy.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/hugo.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/vuedotjs.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/gatsby.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/docusaurus.svg" %}</li>
          <li class="mx-4 w-10 h-10">{% include "icons/pelican.svg" %}</li>
        </ul>
      </div>
      <div class="absolute left-0 top-0 bottom-0 w-16 bg-gradient-to-r from-white dark:from-neutral-950 to-transparent"></div>
      <div class="absolute right-0 top-0 bottom-0 w-16 bg-gradient-to-l from-white dark:from-neutral-950 to-transparent"></div>
    </div>
  </div>

  <div class="max-w-5xl mx-auto my-24 lg:my-28">
    <h2 class="font-semibold tracking-tight text-3xl lg:text-4xl mb-12 text-center">{{ features.title }}</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-left">
      {% for feature in features.entries %}
        <li class="bg-neutral-100 dark:bg-neutral-850 rounded-xl p-6">
          {% if feature.pro %}<span class="chip-primary float-right">Pro</span>{% endif %}
          {% if feature.soon %}<span class="chip bg-white dark:bg-neutral-950 float-right">Soon</span>{% endif %}
          {% lucide feature.icon, { "class" : "mb-4"} %}
          <h3 class="font-semibold">{{ feature.title }}</h3>
          <p class="mt-1">{{ feature.description }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="max-w-2xl mx-auto my-24 lg:my-28 text-center">
    <h2 class="font-semibold tracking-tight text-3xl lg:text-4xl mb-8">Zero cost, zero geek-speak: give your team a user-friendly CMS.</h2>
    <a class="btn-primary btn-lg" href="https://app.pagescms.org">Sign in with GitHub</a>
  </div>

  <div class="max-w-2xl mx-auto my-24 lg:my-28">
    <h2 class="font-semibold tracking-tight text-3xl lg:text-4xl mb-12 text-center">{{ faq.title }}</h2>
    <dl class="faq">
      {% for entry in faq.entries %}
        <div class="bg-neutral-100 dark:bg-neutral-850 rounded-xl mb-4" x-data="{ open: false }">
          <dt class="flex font-medium cursor-pointer group p-4 items-center" @click="open = !open">
            <span class="mr-auto">{{ entry.question }}</span>
            <span class="text-neutral-400 dark:text-neutral-500 group-hover:text-inherit transition-transform transition-colors" :class="open ? 'rotate-45' : ''">{% lucide "plus", { "class" : "h-4" } %}</span>
          </dt>
          <dd class="max-h-0 overflow-hidden transition-all" :style="open ? 'max-height: ' + $refs.answer{{ loop.index }}.offsetHeight + 'px' : ''">
            <div class="px-4 pb-4" x-ref="answer{{ loop.index }}">{{ entry.answer | markdown | safe }}</div>
          </dd>
        </div>
      {% endfor %}
    </dl>
  </div>
</div>