<!DOCTYPE html>
<html class="dark">
<head>
  {# Meta #}
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# Title & Description #}
  {% set meta_description = description or site.description or "" %}
  {% if page.url == "/" %}
    {% set meta_title = site.title ~ ' | ' ~ meta_description %}
  {% else %}
    {% set meta_title = meta_description ~ ' | ' ~ site.title %}
  {% endif %}
  <title>{{ meta_title }}</title>
  <meta name="description" content="{{ meta_description }}"/>
  <meta name="title" content="{{ meta_title }}">
  {% if site.keywords %}<meta name="keywords" content="{{ site.keywords | join(',') }}" />{% endif %}

  {# Favicon #}
  <link rel="icon" type="image/svg+xml" href="{{ siteUrl }}/assets/favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}/assets/apple-touch-icon.png">

  {# Open Graph / Facebook #}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ siteUrl }}{{ page.url }}">
  <meta property="og:title" content="{{ meta_title }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta property="og:image" content="{{ siteUrl }}/assets/social.png">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:author" content="{{ site.author.name }}">

  {# X/Twitter #}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ siteUrl }}{{ page.url }}">
  <meta name="twitter:title" content="{{ meta_title }}">
  <meta name="twitter:description" content="{{ meta_description }}">
  <meta name="twitter:image" content="{{ siteUrl }}/assets/social.png">
  <meta name="twitter:creator" content="{{ site.author.x }}">

  {# CSS #}
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/assets/styles.css">

  {# JS #}
  <script src="/assets/basecoat.min.js" defer></script>
  <script src="/assets/copy-code.js" defer></script>
  <script src="//unpkg.com/alpinejs" defer></script>

  {% if head %}{{ head | safe }}{% endif %}
</head>
<body>
  {% if not page.url.startsWith('/docs/') %}
    <div aria-hidden="true" class="page-wash"></div>
  {% endif %}
  {{ content | safe }}
</body>
</html>
