---
layout: page
---

<article class="mx-auto my-24 px-4 max-w-3xl">
  <header class="text-center mb-12 max-w-2xl mx-auto">
    <h2 class="text-2xl font-semibold tracking-tight sm:text-3xl xl:text-4xl">{{ title }}</h2>
  </header>

  <section class="prose text-foreground/80">
    {{ content | safe }}
  </section>
</article>
