---
layout: base
---

{% include "partials/header.njk" %}
{{ content | safe }}
<footer class="flex items-center justify-center gap-x-4 text-muted-foreground px-6 lg:px-8 py-8 text-xs [&_a]:hover:underline">
  <span>© <a href="https://ronanberder.com">Ronan Berder</a></span>
  <a href="/terms">Terms</a>
  <a href="/privacy">Privacy</a>
</footer>
