---
layout: base
---

<header class="max-w-7xl mx-auto px-6 lg:px-8 py-4 flex items-center gap-2">
  {% include "partials/header.njk" %}
</header>

{{ content | safe }}

<footer class="flex items-center justify-center gap-x-4 text-muted-foreground px-6 lg:px-8 py-8 text-xs [&_a]:hover:underline">
  {% include "partials/footer.njk" %}
</footer>
