<footer class="mx-auto p-4 lg:p-8 text-center">  
  <nav class="max-sm:grid max-sm:grid-cols-3 sm:inline-flex gap-x-1 items-center">
    <a class="btn-secondary" href="/" preload>About</a>
    <a class="btn-secondary" href="/docs" preload>Docs</a>
    <a class="btn-secondary" href="/terms" preload>Terms</a>
    <a class="btn-secondary" href="/privacy" preload>Privacy</a>
    <a class="btn-secondary" href="https://github.com/pages-cms/pages-cms" target="_blank" preload>
      <span>GitHub</span>
      {% lucide "external-link", { "class" : "h-3 -mx-2"} %}
    </a>
    <a class="btn-secondary" href="https://app.pagescms.org" preload>
      <span>Sign in</span>
      {% lucide "arrow-right", { "class" : "h-3 -mx-2"} %}
    </a>
  </nav>
  <div class="text-xs text-neutral-400 dark:text-neutral-500 mt-4 max-sm:px-2 max-sm:text-left">© 2024 <a href="https://ronanberder.com">Ronan Berder</a>. All rights reserved.</div>
</footer>